.main {
  display: grid;

  &__data {
    grid-area: data;

    background-color: red;
  }

  &__time {
    grid-area: time;

    background-color: yellow;
  }

  &__list {
    grid-area: list;

    background-color: green;
  }

  &__canvas {
    grid-area: canvas;

    background-color: aquamarine;
  }

  grid-template: "data data" 70px "time canvas" 150px "list canvas" auto / 300px auto;
}
