.main {
  display: grid;
  height: calc(100% - var(--header-height));

  button {
    width: 100%;
    padding: 5px 10px;

    background-color: var(--prime-color-5l);
    color: #fff;

    border: 0;

    span {
      margin-left: 5px;
    }
  }

  &__data {
    grid-area: data;

    @include flexbox(auto, space-between, center, auto);

    form {
      width: 25%;
      min-width: 250px;

      padding: 10px;

      & > *:nth-child(2) {
        margin-top: 2px;
      }
    }
  }

  &__time {
    grid-area: time;

    padding: 10px;

    form {
      label {
        margin-right: 1px;
      }

      select {
        background-color: var(--second-color);
        color: #000;
        border: 1px solid var(--prime-color-5d);
      }

      & > *:nth-child(2) {
        margin-top: 2px;
      }
    }
  }

  &__list {
    grid-area: list;

    padding: 5px 10px;

    overflow-y: scroll;

    ul {
      li {
        list-style: none;

        margin-top: 5px;

        ul {
          margin-left: 15px;
        }
      }
    }

    button {
      width: auto;
      border: 1px solid var(--prime-color);
    }
  }

  &__canvas {
    grid-area: canvas;

    @include flexbox(auto, center, center, auto);
  }

  & > * {
    border: 1px solid #ccc;
  }

  grid-template: 'data data' min-content 'time canvas' max-content 'list canvas' auto / 250px auto;
}

.input {
  &s {
    &[data-flex] {
      display: flex;

      label {
        @include flexbox(auto, auto, center, auto);
      }

      input {
        &[type='text'] {
          width: 100%;
        }
      }
    }

    .select-wrapper {
      position: relative;

      width: 100%;

      select {
        background-color: var(--prime-color-5l);

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        position: relative;
        width: 100%;
        padding: 5px 10px;

        border: 0;

        color: #fff;
        text-align-last: center;

        &:disabled {
          background-color: var(--prime-color);
          cursor: not-allowed;
        }

        + .fa {
          position: absolute;
          top: 5px; right: 5px;

          color: #fff;
        }
      }
    }
  }

  &-group {
    &:not([class$='--column']) > * {
      @include inline-middle;
    }

    label {
      background-color: var(--prime-color-5l);
      color: #fff;

      padding: 4px 10px;
    }

    input {
      &[type='text'] {
        padding: 5px 10px;
        border: 1px solid var(--prime-color-5l);

        background-color: var(--second-color);
      }

      &[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background-color: var(--prime-color-5l);

        width: 100%;
        padding: 6px 10px;
        border: 1px solid var(--prime-color);

        color: #fff;
        text-align: center;

        &:checked {
          background-color: var(--prime-color-5d);
        }
      }
    }

    button {
      border: 1px solid var(--prime-color);
    }

    &--column {
      width: 100%;
    }
  }
}
