@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic&display=swap');

@import '~fork-awesome/css/fork-awesome.min.css';

@import './styles/inc/mixins';
@import './styles/inc/extend';

$primeColor: #3c8dbc;
$secondColor: #e3ecfd;

:root {
  --prime-color:      #{$primeColor};

  --prime-color-5l:   #{lighten($primeColor, 5%)};
  --prime-color-10l:  #{lighten($primeColor, 10%)};

  --prime-color-5d:   #{darken($primeColor, 5%)};
  --prime-color-10d:  #{darken($primeColor, 10%)};

  --second-color:     #{$secondColor};

  --second-color-5l:  #{lighten($secondColor, 5%)};
}

* {
  box-sizing: border-box;
  padding: 0; margin: 0;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
}

#app {
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr;
}

select {
  @at-root button, input, details summary, & {
    font: inherit;
    cursor: pointer;
  }
}

script {
  @extend %visually-hidden;
  font-size: 0;
}

@import './styles/Header';
@import './styles/Main';
